body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* container */

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

.horizontal-scroll {
  max-width: 90rem;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 23fr;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 7rem;
  grid-auto-flow: column;
  grid-auto-columns: minmax(220px, 1fr);
}

.horizontal-scroll::-webkit-scrollbar {
  background-color: #262626;
  height: 0.3em;
}

.horizontal-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.horizontal-scroll::-webkit-scrollbar-thumb {
  background-color: #1a1a1a;
}

//liked

.liked {
  max-height: 87vh;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 7rem;
}

.liked::-webkit-scrollbar {
  background-color: #262626;
  height: 0.3em;
}

.liked::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.liked::-webkit-scrollbar-thumb {
  background-color: #1a1a1a;
}

// hot

.hot {
  max-height: 87vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 7rem;
}

.hot::-webkit-scrollbar {
  background-color: #262626;
  height: 0.3em;
}

.hot::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.hot::-webkit-scrollbar-thumb {
  background-color: #1a1a1a;
}

// lyrics

.h-lyrics {
  max-height: 78vh;
}

.h-lyrics::-webkit-scrollbar {
  background-color: #262626;
  height: 0.3em;
}

.h-lyrics::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.h-lyrics::-webkit-scrollbar-thumb {
  background-color: #1a1a1a;
}
